<div class="container-fluid py-5 bg-dark text-light">
    <div class="container" style=" font-size: 12px;">
        <div class="row">
            <div class="col-4 d-flex flex-column justify-content-between">
                <div>
                    <span class="font-weight-bold">About us</span>
                    <p class="lead" style="font-size:inherit"> disnkadnslk dsk dks dskdks mmfneoidnsionv v c
                        fcendknsnck ed sd skcniwenifrunfvujr vcenciwneicnsa;mxzck as sacs
                        wncineiwnivne dsx cescnieniwfnewfjd sj</p>
                </div>
                <div class="my-3">
                    <span class="fa fa-phone mx-2"></span>
                    <span class="fa fa-instagram mx-2"></span>
                    <span class="fa fa-facebook mx-2"></span>
                    <span class="fa fa-twitter mx-2"></span>
                </div>
            </div>
            <div class="col-4">
                <span class="font-weight-bold">Sections</span>
            </div>
            <div class="col-4">
                <span class="font-weight-bold">Location</span>
                <img src="/assets/images/google-maps-logo.png" class="img-fluid"/>
                <button class="btn btn-sm btn-outline-light my-2 rounded-0"> Find it</button>
            </div>
            <div class="col-12 py-3">
                <span></span>
            </div>
        </div>
    </div>
</div>