<nav class="nav navbar-expand-lg bg-dark text-light navbar-light w-100 justify-content-between py-2 py-lg-3">
    <div class="d-flex align-items-center">
        <button class="navbar-toggler mr-3 border-0 text-light">
            <span class="navbar-toggler-icon text-light"></span>
        </button>
        <a class="navbar-brand">
            <h5 class="m-0 a-0">Brand</h5>
        </a>
    </div>
    <div class="collapse navbar-collapse justify-content-lg-end">
        <ul class="navbar-nav  text-light">
            <li class="nav-item"><a class="nav-link  text-light">Shop</a></li>
            <li class="nav-item"><a class="nav-link  text-light">Section</a></li>
            <li class="nav-item"><a class="nav-link  text-light">Products</a></li>
        </ul>
    </div>
    <div class="navbar-text mx-3 align-self-end text-light text-capitalize">
        <span class="fa fa-search mx-2"></span>
        <span class="fa fa-shopping-bag mx-2"></span>
        <span class="fa fa-user mx-2"></span>
    </div>
</nav>