<div>
    <div class="container d-flex justify-content-end">
        <div class="p-2 bg-light">
            
        </div>
        <div class="p-2 bg-light">
            <span class="fa fa-phone mx-2"></span>
            <span class="fa fa-instagram mx-2"></span>
            <span class="fa fa-facebook mx-2"></span>
            <span class="fa fa-twitter mx-2"></span>
        </div>
    </div>
</div>
<div class="bg-dark">
    <div class="container-fluid">
        <div class="container">
            <div>
                <%- include menu.ejs %>
            </div>
        </div>
    </div>
</div>