block customStyles
link(rel="stylesheet",  href="/assets/bootstrap/css/bootstrap.css")
link(rel="stylesheet",  href="/assets/fontawesome/css/all.css")
link(rel="stylesheet", href="/assets/styles/main.css")