#carousel.slide.carousel(data-ride="carousel").bg-info.h-100.position-relative
    .carousel-inner.h-100
        .carousel-item.active.h-100
            h1 Carousel item 1
        .carousel-item.h-100
            h1 Carousel item 2
        .carousel-item.h-100
            h1 Carousel item 3
        .carousel-item.h-100
            h1 Carousel item 4