#carousel.slide.carousel(data-ride="carousel").bg-info.h-100.position-relative
    .carousel-inner.h-100.position-relative
        .carousel-item.active.h-100.site-bg-img(style="background-image:url(https://cdn.lifehack.org/wp-content/uploads/2012/12/Nature_4-1024x576.jpg)")
            h1 Carousel item 1
        .carousel-item.h-100.site-bg-img(style="background-image:url(https://searchengineland.com/figz/wp-content/seloads/2016/06/hapyguy_smartphone_suit_383614117-ss-1920.jpg)")
            h1 Carousel item 2
        .carousel-item.h-100.site-bg-img(style="background-image:url(https://bntmovers.com/wp-content/uploads/2018/02/happy-customer.jpg)")
            h1 Carousel item 4