<div class="h5 bg-danger d-flex align-items-center" id="introCover">
    <div class="container py-5 py-md-5">
        <div class="row  align-content-end  no-gutters py-0 py-md-5">
            <div class="col-12 col-md-10">
                <h1 class="text-light">Shop Title Goes here</h1>
                <p class="lead text-justify text-light">Use our position utilities to place navbars in non-static positions.
                    Choose from fixed to the top, fixed to the bottom, or stickied to the top (scrolls with the page until
                    it reaches the top, then stays there). Fixed navbars use position: fixed, meaning they’re pulled from </p>
                <div class="my-4">
                    <button class="btn btn-light rounded-0 btn-lg">Start Shopping</button>
                    <button class="btn btn-light rounded-0 btn-lg btn-outline-light">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</div>