.container-fluid
    .container
        .row.justify-content-around.p-5
            .col-3.d-flex.justify-content-center.flex-column.align-items-center
                h6 Customer support
                span.my-4
                    span.fa-10x.fa.fa-user-circle
            .col-3.d-flex.justify-content-center.flex-column.align-items-center
                h6 Products Updates
                span.my-4
                    span.fa.fa-10x.fa-cart-plus
            .col-3.d-flex.d-flex.justify-content-center.flex-column.align-items-center
                h6 24/7 opening hours
                span.my-4
                    span.fa.fa-10x.fa-award
        .row
            .col-6
            .col-6
            .col-6
            .col-6