<div class="container-fluid py-5"  id="subscriptionBackgroundCover">
    <div class="container">
        <div class="row justify-content-center py-4">
            <div class="col-10 col-md-8 col-lg-7 col-xl-6 p-3 py-4 border-top border-light" style="background: rgba(0,0,0,.5)">
                <div class="text-center text-light">
                    <h5 class="font-weight-light"> Join us today</h5>
                    <p class="lead font-weight-bold">ksdnks dsadk,,dsadklas mdsakskle fsdkkf vrmdsvmkklalkcske dsc
                        cedsnsdknclksa slakc skacsa md sadasl iefwnioenwi fdsefniewns</p>
                </div>
                <div class="py-4 border-top">
                    <div>
                        <div class="form-text  text-light">Email</div>
                        <input class="form-control rounded-0 p-3 appInput btn-outline-light">
                    </div>
                    <div>
                        <div class="form-text text-light">Username</div>
                        <input class="form-control rounded-0 p-3  appInput btn-outline-light">
                    </div>
                    <div>
                        <div class="form-text text-light">Password</div>
                        <input class="form-control rounded-0 p-3  appInput btn-outline-light">
                    </div>
                    <div class="my-3">
                        <button class="p-3 btn rounded-0 btn-primary btn-outline-light w-100">Get started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>