.container-fluid.bg-white
    .container
        .row.no-gutters
            .col-12.col-md-6(style="min-height:250px").p-5.bg-white.border.d-flex.align-items-center.justify-content-center.my-4
                .display-4 Latest Product
            .col-12.col-md-6(style="min-height:250px").p-5.bg-white.border.d-flex.align-items-center.justify-content-center.my-4
                .display-4 Latest Product
            .col-12.text-center.py-5(style="min-height:300px").d-flex.align-items-center.justify-content-center
                div
                    h3 Invitation Text 1
                    .display-5 This is what we do