extends layout
block content
    .div.bg-light.px-2(style="font-size:11px").p-1.d-flex.justify-content-around
        div
            span.mx-2 Phone +123 234 332 334
            span.mx-2 Location
                .fa.fa-globe.mx-2
        div
            span
                .fa.fa-instagram
            span
                .fa.fa-facebook
            span
                .fa.fa-twitter
    .container-fluid.bg-dark.sticky-top.bg-light
        include ./components/menu
    .container
        .row
            .col-12.d-flex.justify-content-center.my-5
                img(src="http://africanreview.com/images/Fotolia_46731424_Subscription_XXL.jpg").img-fluid.mx-auto
    .container-fluid
        .container.text-center
            h3 About Us
            p.lead ds E.g. lorem*5[TAB] (where [TAB] is an Emmet expand key, could also be [Enter] or [Space] -- check the Settings (hint: use search box there to quickly narrow possible options)) will create 5 divs with Lorem Ipsum text
    .container
        .container