extends layout
block content
    .div.bg-light.px-2(style="font-size:11px").p-1.d-flex.justify-content-around
        div
            span.mx-2 Phone +123 234 332 334
            span.mx-2 Location
                .fa.fa-globe.mx-2
        div
            span
                .fa.fa-instagram
            span
                .fa.fa-facebook
            span
                .fa.fa-twitter
    .container-fluid.bg-dark.sticky-top.bg-light
        include ./components/menu
    .container-fluid
        .container
            h5 Location
            .row.my-5
                .col-12.d-flex.justify-content-center(style="height:300px; overflow:hidden")
                    img(src="https://cdn.vox-cdn.com/thumbor/cX_R2imZU9IDVR8DBYsir5I7qr4=/0x0:2040x1360/1200x800/filters:focal(857x517:1183x843)/cdn.vox-cdn.com/uploads/chorus_image/image/60705301/akrales_180620_1777_0011.1533225632.jpg").img-fluid