<html>
    <%- include includes/header.ejs %>
    <body>
        <% include includes/menuContainer.ejs %>
        <% include components/introshopcomponent.ejs %>
        <% include components/services.ejs %>
        <% include components/sectionsscroller.ejs %>
        <% include components/productsminimal.ejs %>
        <% include components/subscriptionComponent.ejs %>
        <% include includes/footer.ejs %>

        <% include includes/scripts-bottom.ejs %>
    </body>
</html>