extends layout
block content
  .container-fluid.bg-dark.sticky-top
      include ./components/menu
  .container-fluid
  div(style="height:450px; background:orange")
      include ./components/businessAdvertScroller

  include ./components/services







