extends layout
block content
    .bg-dark.text-light
        .container.d-flex.p-3.bg-dark.text-light.jus
            h5 Store Name, New user
    .container-fluid.my-5
        .container
            .row.justify-content-center
                .col-6.px-5
                    div
                        h5 New User
                        input(placeholder="User name").form-control.rounded-0.my-3
                        input(placeholder="Email").form-control.rounded-0.my-3
                        input(placeholder="First Name").form-control.rounded-0.my-3
                        input(placeholder="Last Name").form-control.rounded-0.my-3
                        input(placeholder="Password").form-control.rounded-0.my-3
                        .btn.btn-primary.rounded-0.w-100.my-3 Signup
                    div
                        h5 Sigup with another account
                        .btn.btn-primary.rounded-0.w-100.my-3 Magnet
                .col-6
                    .spinner-border(role="status")
                        .sr-only
    include ./components/footer
