#introCover{
    background-image: url("http://localhost/assets/images/business.jpeg");
    background-size: cover;
    background-position: top;
    background-attachment: scroll;
    background-repeat: no-repeat;
}